# Fitts Law Test Configuration

# Number of targets
target_num = 9

# Starting Target sizes in pixels
starting_target_size = 50

# Ending Target sizes in pixels
ending_target_size = 10

# Starting Distance between targets in pixels
starting_target_distance = 100

# Starting Distance between targets in pixels
ending_target_distance = 300

# Number of trials
num_trials = 5