# Fitts Law Test Configuration

# Number of targets
target_num = 9

# Starting Target sizes in pixels
max_target_size = 50

# Ending Target sizes in pixels
min_target_size = 10

# Starting Distance between targets in pixels
min_target_distance = 150

# Starting Distance between targets in pixels
max_target_distance = 300

# Number of trials
num_trials = 5